.counter-button {
    color: brown;
    background-color: bisque;
    font-size: 18px;
    padding: 15px 30px;
    width: 100px;
}

.count {
    font-size: 45px;
    padding: 15px 30px;
}

#resetButton {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 5px 10px;
    width: 80px;
}